* {
  box-sizing: border-box;
}

.product-area {
  color: #555;
}

.selected-product {
  padding: 20px;
}

.selected-product button {
  padding: 10px 50px;
  background-color: rgb(232, 127, 0);
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 10px;
  font-weight: 700;
  transition: 500ms ease-in-out;
}

.selected-product button:hover {
  background-color: orange;
  /* color: white; */
}


.selected-product .product-description {
  margin-top: 30px;
  text-align: justify;
  line-height: 25px;
}

.product-sales-info input[type="number"] {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: 60px;
  padding: 5px;
  margin-bottom: 7px;
}

.product-sales-info h3 {
  margin-bottom: 7px;
}

.product-sales-info label {
  font-size: 16px;
}

.related-products {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}

.related-products h1 {
  margin-bottom: 20px;
}

.related-products .product-description {
  margin-top: 20px;
  padding: 0 20px;
  display: none;
}

.product {
  padding: 20px;
  margin: 20px 0;
  background-color: white;
  text-align: center;
  transition: 300ms ease-out;
  align-self: flex-start;
}

.product:hover {
  box-shadow: 0 0 7px black;
}

.product:hover h3 {
  font-weight: bold;
  color: brown;
}

.select-product .product-image {
  border: 1px solid;
}

.product-image {
  height: 300px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  padding: 5px;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 550px) {
  .select-product {
    display: flex;
  }

  .select-product .product-image {
    height: 350px;
    flex: 0.4;
  }

  .select-product .product-sales-info {
    flex: 0.6;
    margin-left: 20px;
    padding: 20px 10px;
  }

  .product-sales-info h3,
  .product-sales-info input[type="number"] {
    margin-bottom: 10px;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .product {
    margin: 0;
  }
}

@media screen and (min-width: 850px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
