body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(51, 51, 51); */
    background-image: url(unsplash2/steven-binotto-m2QRI-O-nIw-unsplash.jpg);
    /* background-image: url(unsplash2/kyle-sung-oQuP_XBjOMY-unsplash.jpg); */
    color: white;
    background-size: cover;
    background-repeat: repeat-y;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0 30px;
    box-sizing: border-box;
    max-width: 1000px;
}

nav #brand {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
}

nav ul.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

nav ul.nav-items li a {
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: 700ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

nav ul.nav-items li a:hover {
    color: orange;
}

nav ul.nav-items li a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: rgb(240, 106, 57);
    width: 0;
    left: 0;
    top: 30px;
    transition: 700ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

nav ul.nav-items li a:hover::after {
    width: 87%;
}

div.about-me {
    margin: 0 auto;
    padding: 6em 20px;
    text-align: center;
    max-width: 900px;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

div.about-me h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    font-weight: 300px;
    /* color: rgba(226, 127, 90, 0.931); */
    color: orange;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

div.about-me h1::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: white;
    width: 9%;
    left: 0;
    top: 65px;
}

div.about-me p {
    padding: 0;
    margin: 30px 0 50px 0;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Playfair Display', serif;
}

#projects-btn {
    padding: 10px 40px;
    color: black;
    background-color: #eee;
    box-shadow: 0 0 35px black;
    border: 2px solid #222;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
}

#projects-btn::after {
    content: "";
    position: absolute;
    height: 100%;
    /* background-color: rgba(240, 106, 57, 0.643); */
    background-color: rgba(255, 166, 0, 0.596);
    width: 10px;
    left: 0;
    bottom: 0;
    z-index: 0;
    transition: 2000ms cubic-bezier(0.86, 0, 0.07, 1);
}

#projects-btn:hover::after {
    width: 100%;
    box-shadow: 0 0 70px white;
} 

#social-links {
    width: fit-content;
    text-align: center;
    margin: 60px auto;
}

#social-links a {
    color: white;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    transition: 700ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 10px;
    box-sizing: border-box;
}

#social-links a:hover {
    color: rgba(240, 105, 57, 0.911);
}

#git {
    box-shadow: 0 0 4px white;
}

div.portfolio,
div.my-ratings {
    border: 2px solid;
}

div#portfolio-heading,
div#rating-heading {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

div#portfolio-heading h1,
div#rating-heading h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div#rating-values {
    text-align: center;
    background-color: #333;
    margin: 0 auto;
    padding: 4rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#rating-values p {
    margin: 0;
}

div#rating-values a.a-rating {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 12px;
    display: block;
    max-width: 600px;
    padding: 5px;
    background-color: white;
    margin: 10px auto;
    position: relative;
    text-align: right;
    border-radius: 10px;
}

div#rating-values a.a-rating::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: orange;
    left: 0;
    bottom: 0;
}

div#rating-values a#css3::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 100%;
    background-color: orange;
    left: 0;
    bottom: 0;
}

div#rating-values a#javascript::after,
div#rating-values a#jQuery::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 100%;
    background-color: orange;
    left: 0;
    bottom: 0;
}

div.work {
    margin: 20px;
    border: 1px solid;
}

div.work-info {
    padding: 10px 30px;
    background-color: white;
    color: black;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.work-info h3 {
    text-align: left;
    font-size: 15px;
    /* font-weight: 700; */
}

div.work-info p {
    font-size: 12px;
}

div#work-display-image {
    background-image: url(works/Background-Color-Helper.JPG);
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    z-index: 1;
}

div#work-display-image:hover {
    opacity: 0.9;
    transition: 500ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

@media only screen and (min-width: 600px) {
    div.work {
        margin: 0;
        border: 1px solid;
        align-self: flex-start;
    }

    div#works-area {
        text-align: center;
        margin: 20px 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media only screen and (min-width: 900px) {
    div#works-area {
        grid-template-columns: repeat(3, 1fr);
    }
}

div.icons-and-explore {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

div#languages .fab {
    font-size: 20px;
    margin-right: 3px;
}

.fa-html5 {
    color: orangered;
}

.fa-css3-alt {
    color: rgb(79, 155, 202);
}

.fa-js {
    color: rgb(243, 243, 36);
}

div.icons-and-explore a#explore {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 15px;
    background-color: white;
    border: 1px solid black;
    color: black;
}

div.icons-and-explore a#explore:hover {
    background-color: black;
    color: white;
    transition: 500ms;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-size: 13px; */
    font-weight: 800;
}

